.todoList{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 4rem;
}

button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.addButton{
    background-color: rgb(92, 199, 92);
}

.addButton:hover {
    background-color: green;
}

.deleteButton{
    background-color: rgb(200, 46, 46);
}

.deleteButton:hover {
    background-color: red;
}

.upButton {
    background-color: orange;
}

.downButton {
 background-color: blueviolet;
}